{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    }
  }
}
